<div class="container">
  <img class="main-icon" src="https://i.postimg.cc/d0NpWF1Y/logo.jpg" />
  <div class="navbar-items">
    <div class="links">
      <div class="link" (click)="redirect('/catalog')">Catalogo</div>
      <div class="link" (click)="redirect('/contacts')">Contatti</div>
    </div>
    <div class="cart">
      <img
        src="https://i.postimg.cc/5yFSQr8c/dbdc64a6-db30-47c5-bc9f-d95e4184faf2.png"
        (click)="redirect('/cart')"
      />
    </div>
  </div>
  <img src="https://i.postimg.cc/d0NpWF1Y/logo.jpg" />
</div>
